// colors - default theme
$accentColor ?= #3eaf7c
$textColor ?= #2c3e50
$borderColor ?= #eaecef
$codeBgColor ?= #282c34
$arrowBgColor ?= #ccc
$badgeTipColor ?= #42b983
$badgeWarningColor ?= darken(#ffe564, 35%)
$badgeErrorColor ?= #DA5961
$preTextColor ?= #fff
$highlightedBgColor ?= rgba(0, 0, 0, .66)
$languageTextColor ?= rgba(255, 255, 255, 0.4)
$lineNumbersColor ?= rgba(255, 255, 255, 0.3)
$miniCodeBgColor ?= rgba(27,31,35,0.05)
$bgColor ?= #fff
$kbdBgColor ?= #eee
$blockquoteTextColor ?= #999
$blockquoteBorderColor ?= #dfe2e5
$tableBorderColor ?= #dfe2e5
$tableStripeBgColor ?= #f6f8fa
$tipColor ?= $textColor
$tipBgColor ?= #f3f5f7
$warningColor ?= #e7c000
$warningBgColor ?= rgba(255, 229, 100, 0.3)
$dangerColor ?= #c00
$dangerBgColor ?= #ffe6e6
$searchBorderColor ?= #999

// colors - light theme
$codeBgLightColor ?= #f8f8f8
$preTextLightColor ?= #4d4d4d
$highlightedBgLightColor ?= rgba(224, 224, 224, 0.5)
$languageTextLightColor ?= rgba(0, 0, 0, 0.4)
$lineNumbersLightColor ?= rgba(0, 0, 0, 0.3)

// colors - dark theme
$accentDarkColor ?= $accentColor
$textDarkColor ?= #e2e2e2
$borderDarkColor ?= #4e4e4e
$arrowBgDarkColor ?= $arrowBgColor
$badgeTipDarkColor ?= $badgeTipColor
$badgeWarningDarkColor ?= $badgeWarningColor
$badgeErrorDarkColor ?= $badgeErrorColor
$miniCodeBgDarkColor ?= rgba(255,255,255,0.1)
$bgDarkColor ?= #25272a
$kbdBgDarkColor ?= #444
$blockquoteTextDarkColor ?= #eee
$blockquoteBorderDarkColor ?= #666b6f
$tableBorderDarkColor ?= $borderDarkColor
$tableStripeBgDarkColor ?= #444
$tipDarkColor ?= $textDarkColor
$tipBgDarkColor ?= #3e3b3b
$warningDarkColor ?= $warningColor
$warningBgDarkColor ?= rgba(185, 174, 119, 0.3)
$dangerDarkColor ?= $dangerColor
$dangerBgDarkColor ?= rgba(72, 56, 57, 30%)
$searchBorderDarkColor ?= #eee
